*{
    margin:0;
    padding:0;
}

body{
    background-image: url(public/home/background-home-desktop.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
}

header{
    width:100%; 
    height: 100px; 
    margin-top:3em;
    display:flex; 
    justify-content: space-between;
    align-items: center;
}

.logo{
    width:40%; 
    display:flex;
    flex-direction: column;
    position:relative; 
    box-sizing: border-box;
    padding:3em;
}

.logo hr{
    width:75%; 
    position: absolute;
    top:50%;
    left:30%;
    z-index: 3;
    border: 1px solid rgb(52, 52, 52);
}

nav{
    width:60%;
    height:100%; 
    background-color: rgba(176, 176, 176, 0.084);
    backdrop-filter: blur(30px);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
}

nav ul{
    width:80%;
    height:100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    color:#fff;
    font-weight: 300;
    letter-spacing: 2px;
}

nav ul li{
    display: flex;
    align-items: center;
    height:100%;
    transition: border 0.2s ease-in-out;
}

nav ul li:hover{
    border-bottom: 3px solid #fff;
}

nav ul li a{
   color:#fff;
   text-decoration: none;
}

nav ul li a span{
    font-weight: 500;
    font-size: 1.2rem;
}

main{
    width:100%; 
    height:400px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding:0 6em; 
    margin-top:8em;
}

.introduction-container{
    width:40%; 
    height:300px;
    color:#fff;
}

.introduction-container span{
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    font-weight: 300;
    color:rgba(255, 255, 255, 0.657); 
}

.introduction-container h1{
    font-family: 'Tiro Telugu', serif;
    font-size: 7rem;
    font-weight: 200;
    letter-spacing: 10px;
}

.introduction-container p{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    font-weight: 200;
    letter-spacing: 1px;
    color:rgba(255, 255, 255, 0.657); 
}

.explore-container{
    width:40%; 
    height:300px;
    margin-top: 9em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.explore-button{
    width:60%;
    height:90%;
    border-radius: 100%;
    font-size: 2rem;
    font-family: 'Nunito Sans', serif;
    border:none;
    background-color: #fff;
    cursor: pointer;
}



